
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span>Formulario POLI</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">book</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<ol>

  <form class="FORMULARIO DE INSCRIPCION">

    <li>
      <mat-form-field class="Ingrese nombres">
        <input matInput placeholder="Nombres">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="Ingrese apellidos">
        <input matInput placeholder="Apellidos">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="Ingrese email">
        <input matInput placeholder="Email">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field class="Numero de indentificacion">
        <input matInput placeholder="numero de documento">
      </mat-form-field>
    </li>

    <li>
      <mat-form-field class="Ingrese ciudad">
        <input matInput placeholder="Ciudad">
      </mat-form-field>
    </li>




    <h3>Estado Civil</h3>
    <mat-radio-group>
      <mat-radio-button value="1">Soltero</mat-radio-button>
      &nbsp;
      <mat-radio-button value="2">Casado</mat-radio-button>
      &nbsp;
      <mat-radio-button value="3">Union libre</mat-radio-button>
    </mat-radio-group>

    <h3>Programa Academico</h3>
    <mat-form-field>
      <select matNativeControl required>
        <option value="IngenieriaSistemas">Ingenieria de Sistemas</option>
        <option value="IngenieriaIndustrial">Ingenieria industrial</option>
        <option value="Administracion de empresas">Administracion de empresas</option>
        <option value="Contabilidad">Contabilidad</option>
      </select>
    </mat-form-field>

  </form>
  <button mat-raised-button color="warn">Guardar</button>

</ol>
