/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  background: url(fondo.png);
  background-size: 100%;
  background-attachment: fixed;
  opacity: 1.0;
}
